# Ignorar carpetas de compilación e instalación de ROS 2
build/
install/
log/

# Ignorar archivos temporales u ocultos de editores
*.swp
*.swo
*.bak
.vscode/
.idea/
*.pyc
__pycache__/

# Ignorar artefactos propios de otros paquetes (si los hubiera)
*.o
*.obj

# Opcional: si tienes dependencias descargadas u otros SDKs
Livox-SDK2/
